NEXT_PUBLIC_API=YOUR_API_URL
NEXT_PUBLIC_ENVIRONMENT=YOUR_ENVIRONMENT

NEXT_PUBLIC_TENANT_DOMAIN=YOUR_TENANT_DOMAIN
NEXT_PUBLIC_LOCAL_REDIRECT_URL=YOUR_LOCAL_REDIRECT_URL
NEXT_PUBLIC_REDIRECT_URL=YOUR_REDIRECT_URL
NEXT_PUBLIC_NOTIFY_API=YOUR_NOTIFY_API